<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Блог</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>

        <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Три Тома</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/">Карточки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/contacts/">Контакты</a>
      </li>

    <div class="card">
        <div class="photo">
            <img src="\static\image\Tom Hardy.jpeg">
        </div>

        <div class="info">
            <h1>Том Харди</h1>
            <p>Hardy77@mail.ru, 15.09.1977, Лондон</p>
        </div>
    </div>

    <br>
    <hr>

    <div class="card">
        <div class="photo">
            <img src="\static\image\Tom Hanks.jpeg">
        </div>

        <div class="info">
            <h1>Том Хэнкс</h1>
            <p>Hanks56@mail.ru, 09.07.1956, Конкорд</p>
        </div>
    </div>

    <br>
    <hr>

    <div class="card">
        <div class="photo">
            <img src="\static\image\Tom Cruise.jpg">
        </div>

        <div class="info">
            <h1>Том Круз</h1>
            <p>Cruise62@mail.ru, 03.07.1962, Нью-Йорк</p>
        </div>
    </div>
</body>
</html>